<div id="sounderView" style="display:none">
    <img id="gameImage" src="{{imgSrc}}" alt="gamer">
    <p id="gameWord">{{word}}</p>
    <div class="container">
        <h2>Record Your Sound</h2>
        <button id="startRecord">Start Recording</button>
        <button id="stopRecord">Stop Recording</button>
        <audio id="audioPlayback" controls></audio>
        <button id="redo">Redo</button>
        <button id="save">Save</button>
    </div>
<script src="assets/soundUpload.js"></script>
</div>