<link rel="stylesheet" href="assets/aboutgame.css">
<div class="container">
        <h1>About Charades Game</h1>
        <p>
            Charades is a classic party game that involves players acting out a word or phrase without speaking while others guess what it is. It's a fun and entertaining game that sparks creativity, laughter, and friendly competition.
        </p>
        <p>
            Our online Charades Game takes this timeless game to the digital realm, allowing players to connect and enjoy the fun no matter where they are. Whether you're playing with friends, family, or new acquaintances, our game provides an exciting way to test your acting and guessing skills.
        </p>
        <p>
            Join a room, take on the roles of either the "sounder" or the "guesser," and let the rounds of charades begin! The sounder acts out the word using sounds, while the guesser tries to correctly guess the word. Earn points, have a blast, and create lasting memories with Charades Game.
        </p>
        <p>Ready to play? Join a room, unleash your creativity, and start guessing!</p>
    </div>