<link rel="stylesheet" href="assets/aboutgame.css">
<div class="container">
        <h1>About Legendary Giggle</h1>
        <p>
            Legendary Giggle is a game that takes sound into a game, where the user needs to guess the sound of the animals.
        </p>
        <p>
            Our application uses sound in order to capture the answers, where then the other player needs to guess the sound by typing the answer into the box and sending it.
        </p>
        <p>
            Join a room, take on the roles of either the "sounder" or the "guesser," and let the game begin!
        </p>
        <p>Ready to play? Join a room, unleash your creativity, and start guessing!</p>
    </div>