<link rel="stylesheet" href="assets/dashboard.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
<div class="maindiv">
    {{> socketConnection}}
    {{> sounderPartial}}
    {{> guesserPartial}}
</div>
<script src="assets/clientsocket.js" defer></script>
