<link rel="stylesheet" href="assets/dashboard.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
<div class ="main-container">
    <div id="center-container">
        <button onclick="createRoom()">Create Room</button>
        <input id="roomCodeInput" type="text" placeholder="Enter room code">
        <button onclick="joinRoom(document.getElementById('roomCodeInput').value)">Join Room</button>
        <button onclick="pressButton(document.getElementById('roomCodeInput').value)">Press OK</button>
    </div>
</div>
<script src="assets/clientsocket.js" defer></script>
