<link rel="stylesheet" href="/assets/loginstyle.css">
<main class="card">

    <h2>Login</h2>

    <form class="form login-form">
      <section class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </section>
      <section class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </section>
      <section class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
        <br>
        <br>
        <a href="/register">Register Here</a>
    </section>
    </form>
    </section>
</main>
<script src="./assets/login.js"></script>
