    <script id="score-template" type="text/x-handlebars-template">
        <h2>Final Score</h2>
        <p> {{user1Id}}: {{player1Score}}</p>
        <p> {{user2Id}}: {{player2Score}}</p>
        <button href="/views/dashboard.handlebars">Play Again</button>
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var contentDiv = document.getElementById("content");
            var finalScoreDiv = document.getElementById("finalScore");
            var scoreTemplateSource = document.getElementById("score-template");
            var scoreTemplate = Handlebars.compile(scoreTemplateSource);

                var data = {
                    player1Score: player1Score,
                    player2Score: player2Score
                };

                var renderedHtml = scoreTemplate(data);
                finalScoreDiv.innerHTML = renderedHtml;
            });
    </script>
</body>
</html>