<button onclick="createRoom()">Create Room</button>
<input id="roomCodeInput" type="text" placeholder="Enter room code">
<button onclick="joinRoom(document.getElementById('roomCodeInput').value)">Join Room</button>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
